.info_seccion {
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}
.info_seccion h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.info_seccion p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.img_perfil {
  width: 211px;
  height: 200px;
  border: 3px solid #130e0e;
  border-radius: 25%;
  object-fit: cover;
  box-shadow: 2px 2px 12px #8f8e8e;
}

.btn-hv {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: #7e7e7e;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 7px;
  width: 13rem;
  color: #0f0e0e;
  box-shadow: 2px 2px 12px #8f8e8e;
}
.contenedor-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
  margin-top: 2rem;
  text-align: left;
  justify-content: center;
  align-items: flex-end;
}

.columna:first-child {
  margin-right: 10rem;
}
@media (max-width: 760px) {
  .columna:first-child {
    margin-left: 10rem;
  }
}
.columna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 250px;
}

.titulo_certi {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
.scroll-btn {
  background-color: #f0f0f000;
  border-radius: 16px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0.5rem;
  transition: transform 0.3s ease;
}
@media (max-width: 760px) {
  .scroll-btn {
    display: none;
  }
}
.scroll-btn svg {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tema-dark .scroll-btn svg {
  color: #fff;
}
.scroll-btn svg:active {
  color: #7e7e7e;
}
.scroll-btn.right {
  right: -73px;
}

.scroll-btn.left {
  left: -73px;
}
.scroll-btn-diploma-right {
  right: -73px;
}

.scroll-btn-diploma-left {
  left: -73px;
}
@media (min-width: 760px) {
  .scroll-btn-diploma-left {
    display: none;
  }
}
@media (min-width: 760px) {
  .scroll-btn-diploma-right {
    display: none;
  }
}
@media (max-width: 760px) {
  .scroll-btn-diploma-right {
    display: none;
  }
}
@media (max-width: 760px) {
  .scroll-btn-diploma-left {
    display: none;
  }
}
.scroll-btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.contenedor_tarjetas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 1280px;
  margin: 0 auto 2rem;
}

.tarjetas_plazi {
  width: 1130px;
  margin-bottom: 20px;
  padding: 16px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  border-radius: 15px;
  gap: 1.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: transform 0.3s ease;
}
@media (max-width: 760px) {
  .tarjetas_plazi {
    width: 21rem;
  }
}
.tarjeta {
  width: 500px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 12px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem;
}
@media (max-width: 760px) {
  .tarjeta {
    width: 20rem;
  }
}
.tarjeta:active {
  outline: none;
  color: inherit;
}

.tarjeta:hover {
  transform: translateY(-5px);
}
.tarjeta img {
  width: 500px;
  margin: 0.6rem;
  height: auto;
  display: block;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}
@media (max-width: 760px) {
  .tarjeta img {
    width: 20rem;
  }
}
.modal_imagen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_imagen img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px #000;
}

.cerrar_modal {
  position: absolute;
  top: 20px;
  right: 30px;
  background: #ff000000;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  z-index: 1000;
}
