.proyecto_seccion {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.proyecto_titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin: 1.6rem;
}

.proyecto_tarjeta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.4rem;
  margin: 1.3rem;
  border-radius: 12px;
  box-shadow: 2px 2px 12px #8f8e8e;
  transition: transform 0.3s ease;
}
@media (max-width: 760px) {
  .proyecto_tarjeta {
    display: flex;
    flex-direction: column;
  }
}

.proyecto_tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 16px #1e0c8a;
}

.tema-light .proyecto_tarjeta {
  box-shadow: 2px 2px 12px #080808;
}

.tema-light .proyecto_tarjeta:hover {
  box-shadow: 2px 2px 16px #053c52;
}

.img_tarjeta {
  width: 500px;
  border-radius: 10px;
  cursor: pointer;
  height: auto;
  max-width: 360px;
  border: 0.2rem solid #444;
}
@media (max-width: 760px) {
  .img_tarjeta {
    max-width: 17.5rem;
    min-height: 10.5rem;
  }
}

.descripcion_pro {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 0.2rem;
  font-size: 0.95rem;
}

.descripcion_pro h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.descripcion_pro p {
  font-size: 1rem;
  line-height: 1.5;
}

.button_tarjeta {
  margin: 1rem 0.5rem;
  gap: 1.5rem;
  display: flex;
  justify-content: center;
}

.button_tarjeta button {
  padding: 9px 3rem;
  background-color: #132369;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
