.barra-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  border: 2px solid #222;
}
.tema-dark .barra-navegacion {
  border-color: #afaeae;
}
.marca {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.icono {
  margin-right: 0.4rem;
  font-weight: bold;
}

.azul {
  animation: cambiarColor 5s infinite alternate;
}

@keyframes cambiarColor {
  0% {
    color: #687ddb;
  }
  50% {
    color: #4cb8c0;
  }
  100% {
    color: #3a2acc;
  }
}
.nombre-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.nombre-link:hover {
  text-decoration: underline;
  color: var(--color-acento);
}
.nombre-link:hover {
  color: #00bfff;
  text-shadow: 0 0 4px rgba(0, 191, 255, 0.5);
}

.menu {
  display: flex;
  gap: 3.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #050505;
}

.tema-dark .menu li a {
  color: #ffffff;
}

.menu li a:hover {
  color: #3a9cbd;
}

/* CONTENEDOR DE LOS BOTONES */
.temas-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

/* ESTILO GENERAL DEL BOTÓN */
.temas-vertical button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* TEXTO ABAJO DEL EMOJI */
.temas-vertical button span {
  font-size: 0.75rem;
  margin-top: 0.2rem;
  font-weight: bold;
}

.temas-vertical button:hover {
  transform: scale(1.1);
  color: #ebf1f1;
}


.temas-vertical button.activo {
  color: #ffffff;
  transform: scale(1.1);
}
.tema-light .temas-vertical button.activo {
  color: rgb(94, 93, 93);
}

.hamburguesa {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 999;
}

.hamburguesa {
  color: #000; 
}


.tema-dark .hamburguesa {
  color: #fff; 
}


@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .tema-dark .menu {
    background-color: #222;
  }

  .menu.activo {
    display: flex;
    z-index: 1;
  }

  .hamburguesa {
    display: block;
  }

  .menu li a {
    color: #000;
  }

  .tema-dark .menu li a {
    color: #fff;
  }

  .temas-vertical {
    display: none;
  }
}

.temas-mobile {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .temas-mobile {
    display: flex;
    margin-top: 0.1rem;
    border-top: 1px solid #aaa;
    padding-top: 0.4rem;
    align-items: baseline;
  }

  .temas-mobile button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  .temas-mobile button:hover {
  transform: scale(1.1);
  color: #3a9cbd;
}
.tema-dark .temas-mobile button{
  color: #ebf1f1;
}

.tema-dark .temas-mobile button.activo {
  color: #31729e;
}
}
