@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}
p,
h1,
h2,
h3,
h4,
li,
a,
span,
label {
  animation: aparecerLetras 0.6s ease-in-out both;
}
@keyframes aparecerLetras {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* BODY BASE */
body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  z-index: 0;
}

/* TEMAS */
body.tema-light {
  background: linear-gradient(to bottom right, #d3d3d3, #f7f7f7);
  color: #000000;
}

body.tema-dark {
  background: linear-gradient(to bottom right, #0f0f0f, #686767);
  color: #fffefe;
}

/* NIEBLA ANIMADA */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at 30% 30%,
      rgba(88, 84, 84, 0),
      transparent 50%
    ),
    radial-gradient(circle at 70% 70%, rgb(80, 77, 77), transparent 50%);
  animation: totalNiebla 15s ease-in-out infinite;
  z-index: 0;
  opacity: 0.6;
  filter: blur(40px);
  pointer-events: none;
  background-blend-mode: overlay;
}

/* ANIMACIÓN DE NIEBLA */
@keyframes totalNiebla {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(5%, -3%) scale(1.05);
  }
  50% {
    transform: translate(-4%, 4%) scale(1.1);
  }
  75% {
    transform: translate(2%, -1%) scale(1.03);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

main {
  display: flex;
  padding: 2rem;
  height: auto;
  justify-content: center;
  min-height: 100vh;
}

.opciones-verticales {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #222;
}

.opciones-verticales button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
}

.tema-dark .contenedor-header-section {
  background-color: #1e1e1e;
  border-color: #444;
}
.tema-dark .btn {
  color: #f5f5f5;
}
.tema-dark .descripcion {
  color: #fffefe;
}
.tema-dark .opciones-verticales {
  color: #fffefe;
}
.tema-dark .btn:hover {
  background-color: #333;
}

.cuadro {
  width: 10px;
  height: 10px;
  border: 1px solid #222;
  background-color: #ffffff;
  display: inline-block;
  cursor: pointer;
}

.cuadro-activo {
  background-color: black;
}

.contenedor-header-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #d3d3d3;
  padding: 2rem;
  border: 2px solid #222;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 760px) {
  .contenedor-header-section {
    padding: 1rem;
    width: 22rem;
  }
}
.contenedor-header-section::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -40%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at 30% 30%,
      rgba(88, 84, 84, 0),
      transparent 50%
    ),
    radial-gradient(circle at 70% 70%, rgb(80, 77, 77), transparent 50%);
  animation: moverNiebla 15s ease-in-out infinite;
  z-index: 0;
  opacity: 0.6;
  filter: blur(40px);
  pointer-events: none;
  background-blend-mode: overlay;
}

@keyframes moverNiebla {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(5%, -3%) scale(1.05);
  }
  50% {
    transform: translate(-4%, 4%) scale(1.1);
  }
  75% {
    transform: translate(2%, -1%) scale(1.03);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.titulo {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: -0.5rem;
}
@media (max-width: 760px) {
  .titulo {
    padding: 0.2rem;
    font-size: 1.8rem;
  }
}
.blanco {
  animation: cambiar 5s infinite alternate;
}
@keyframes cambiar {
  0% {
    color: #687ddb;
  }
  50% {
    color: #4cb8c0;
  }
  100% {
    color: #3a2acc;
  }
}

.subtitulo {
  font-size: 1.2rem;
  color: #666;
  margin: 1rem 1rem;
  width: 14rem;
}

.menu-navegacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 0;
  margin-top: 1.5rem;
  margin-left: 0.6rem;
  list-style: none;
  width: fit-content;
}

.menu-navegacion a {
  text-decoration: none;
  color: #222;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  padding: 6px 5px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #0f0303;
  color: white;
  transform: scale(1.05);
}

.contenedor_descripcion {
  font-size: 1.1rem;
  padding: 3rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcion {
  color: #333;
  max-width: 500px;
}

.manual-uso {
  background-color: #f0f4ff00;
  border-left: 4px solid #436581;
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  color: #222;
}

.manual-uso h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.manual-uso ul {
  list-style-type: none;
  padding-left: 0;
}

.manual-uso li {
  margin-bottom: 0.8rem;
  line-height: 1.4;
}

.tema-dark .manual-uso {
  background-color: #2a2a2a00;
  color: #f4f4f4;
  border-left-color: #436581;
}
